{% load static %}
<head>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K30GNEQWTH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-K30GNEQWTH');
    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1115692685594998"
    crossorigin="anonymous"></script>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JoeBLog landing page.">
    <meta name="author" content="Showkat Shafi">

    
    {% block meta_description %}
        <meta name="description" content="My Odyssey Echoes - Showkat Shafi's personal blog.">
    {% endblock meta_description %}


    <title>My Odyssey Echoes | By Showkat Shafi</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="icon" type="image/x-icon" href="{% static 'assets/imgs/favicon.ico' %}">
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + JoeBLog main styles -->
	<link rel="stylesheet" href="{% static 'assets/css/joeblog.css' %}">



</head>