{% load static %}
<div class="instagram-wrapper mt-5">
    <div class="ig-id">
        <a href="javascript:void(0)">Follow @joe_mitchell On Instagram</a>
    </div>
    <a href="javascript:void(0)" class="insta-item">
        <img src="{% static 'assets/imgs/insta-1.jpg' %}" alt="" class="w-100">
        <div class="overlay">
            <span>
                <i class="ti-heart"></i> 23
            </span>
            <span>
                <i class="ti-comment"></i> 12
            </span>
        </div>
    </a>
    <a href="javascript:void(0)" class="insta-item">
        <img src="{% static 'assets/imgs/insta-2.jpg' %}" alt="" class="w-100">
        <div class="overlay">
            <span>
                <i class="ti-heart"></i> 23
            </span>
            <span>
                <i class="ti-comment"></i> 12
            </span>
        </div>
    </a>
    <a href="javascript:void(0)" class="insta-item">
        <img src="{% static 'assets/imgs/insta-3.jpg' %}" alt="" class="w-100">
        <div class="overlay">
            <span>
                <i class="ti-heart"></i> 23
            </span>
            <span>
                <i class="ti-comment"></i> 12
            </span>
        </div>
    </a>
    <a href="javascript:void(0)" class="insta-item">
        <img src="{% static 'assets/imgs/insta-4.jpg' %}" alt="" class="w-100">
        <div class="overlay">
            <span>
                <i class="ti-heart"></i> 23
            </span>
            <span>
                <i class="ti-comment"></i> 12
            </span>
        </div>
    </a>
    <a href="javascript:void(0)" class="insta-item">
        <img src="{% static 'assets/imgs/insta-5.jpg' %}" alt="" class="w-100">
        <div class="overlay">
            <span>
                <i class="ti-heart"></i> 23
            </span>
            <span>
                <i class="ti-comment"></i> 12
            </span>
        </div>
    </a>
    <a href="javascript:void(0)" class="insta-item">
        <img src="{% static 'assets/imgs/insta-6.jpg' %}" alt="" class="w-100">
        <div class="overlay">
            <span>
                <i class="ti-heart"></i> 23
            </span>
            <span>
                <i class="ti-comment"></i> 12
            </span>
        </div>
    </a>
</div>