{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'snippets/head.html' %}

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    
    {% include 'snippets/nav_first.html' %}

    {% include 'snippets/nav_second.html' %}

    {% block content %}
    
    {% endblock content %}

    {% include 'snippets/insta_wrapper.html' %}

    {% include 'snippets/footer.html' %}

	<!-- core  -->
    <script src="{% static 'assets/vendors/jquery/jquery-3.4.1.js'%} "></script>
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.bundle.js'%}"></script>

    <!-- JoeBLog js -->
    <script src="{% static 'assets/js/joeblog.js'%}"></script>

</body>
</html>
